Repository Wish-Where-is-Home/WisH-Where_is_Home, pull requests merged in 2024-04, with the labels that each got.

#32 Properties slider
  Frontend/where-is-home/package-lock.json
  Frontend/where-is-home/package.json
  Frontend/where-is-home/public/images/imovel1.png
  Frontend/where-is-home/public/images/imovel2.jpg
  Frontend/where-is-home/public/images/imovel3.jpg
  Frontend/where-is-home/src/App.js
  Frontend/where-is-home/src/Components/Properties/Sidebar.css
  Frontend/where-is-home/src/Components/Properties/Sidebar.js
  Frontend/where-is-home/src/Components/Properties/data.json
  Frontend/where-is-home/src/Components/Properties/img/bath-1.svg
  Frontend/where-is-home/src/Components/Properties/img/bed-icon.svg
  Frontend/where-is-home/src/Components/Properties/img/car-1.svg
  Frontend/where-is-home/src/Components/Properties/img/map-icon.svg
  Frontend/where-is-home/src/Components/Properties/img/selection-1.svg
  Frontend/where-is-home/src/Pages/Homepage/Homepage.js
  Frontend/where-is-home/src/Pages/PropertiesPage/PropertiesPage.css
  Frontend/where-is-home/src/Pages/PropertiesPage/PropertiesPage.js
Labels: feature

#70 Endpoints profile
  Frontend/where-is-home/package-lock.json
  Frontend/where-is-home/package.json
  Frontend/where-is-home/src/Pages/ProfilePage/ProfilePage.css
  Frontend/where-is-home/src/Pages/ProfilePage/ProfilePage.js
  Frontend/where-is-home/src/Translations/en/common.json
  Frontend/where-is-home/src/Translations/pt/common.json
Labels: feature, Frontend

#72 Admin and owner pages
  Frontend/where-is-home/package-lock.json
  Frontend/where-is-home/package.json
  Frontend/where-is-home/src/App.js
  Frontend/where-is-home/src/AuthContext/AuthContext.js
  Frontend/where-is-home/src/Components/ModalAdminRooms/ModalAdminRooms.css
  Frontend/where-is-home/src/Components/ModalAdminRooms/ModalAdminRooms.js
  Frontend/where-is-home/src/Components/ModalProperty/ModalProperty.css
  Frontend/where-is-home/src/Components/ModalProperty/ModalProperty.js
  Frontend/where-is-home/src/Components/ModalW/ModalW.css
  Frontend/where-is-home/src/Components/ModalW/ModalW.js
  Frontend/where-is-home/src/Components/Navbar/Navbar.js
  Frontend/where-is-home/src/Pages/AboutUs/AboutUs.css
  Frontend/where-is-home/src/Pages/AdminPage/AdminPage.css
  Frontend/where-is-home/src/Pages/AdminPage/AdminPage.js
  Frontend/where-is-home/src/Pages/Homepage/Homepage.css
  Frontend/where-is-home/src/Pages/MetricsPage/MetricsPage.css
  Frontend/where-is-home/src/Pages/MetricsPage/MetricsPage.js
  Frontend/where-is-home/src/Pages/ProfilePage/ProfilePage.css
  Frontend/where-is-home/src/Pages/Questions/Questions.css
  Frontend/where-is-home/src/Pages/Questions/Questions.js
  Frontend/where-is-home/src/Pages/SecondPage/QuizPage.css
  Frontend/where-is-home/src/Pages/SecondPage/QuizPage.js
  Frontend/where-is-home/src/Translations/en/common.json
  Frontend/where-is-home/src/Translations/pt/common.json
Labels: Frontend

#73 Properties
  Frontend/where-is-home/src/Components/Properties/Sidebar.css
  Frontend/where-is-home/src/Components/Properties/Sidebar.js
  Frontend/where-is-home/src/Components/Properties/img/bath-1.svg
  Frontend/where-is-home/src/Components/Properties/img/bed-icon.svg
  Frontend/where-is-home/src/Components/Properties/img/car-1.svg
  Frontend/where-is-home/src/Components/Properties/img/map-icon.svg
  Frontend/where-is-home/src/Components/Properties/img/selection-1.svg
  Frontend/where-is-home/src/Components/Properties/imovel1.png
  Frontend/where-is-home/src/Pages/MetricsPage/MetricsPage.js
Labels: feature, Frontend
